<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %black(%d{ISO8601}) %yellow(%C{0}.%M): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG project source code at INFO level -->
    <logger name="de.tobiasgaenzler" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>